stages:
  - test

image: python:3.10

before_script:
  - pip install --upgrade pip
  - pip install -r requirements.txt

test_job:
  stage: test
  script:
    - pytest -v
  artifacts:
    paths:
      - tests-report/
    when: always
